*{
    margin: 0px;
    padding: 0px;
    
}
.navbar-nav{
    font-size: medium;
}
.nav-link:hover{
    background-color: rgb(220, 228, 239);
    cursor: pointer;
}
.container-fluid{
    background-color: antiquewhite;
}
    

    
    
    
